<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--icon-->
    <link rel="shortcut icon" href="../icons/fried-chicken.ico" />
    <!--my css link-->
    <link rel="stylesheet" href="../css/icon.css" />
    <link rel="stylesheet" href="../css/background.css" />
    <link rel="stylesheet" href="../css/navigation.css" />
    <!--card list css-->
    <link rel="stylesheet" href="../css/list/listCard.css" />
    <!--animation on scroll(aos) css-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Restaurant List</title>
  </head>
  <body>
    <!--aos import script code-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--aos run script code-->
    <script>
      AOS.init();
    </script>
    <div id="root" class="root">
      <nav id="navigationBar">
        <!--navigation section-->
        <div id="navBtn" class="shortNav">
          <span>🍖</span>
        </div>
        <div id="navBar" class="longNav hidden">
          <a href="/home">Home</a>
          <a href="/cardList">Card List</a>
        </div>
      </nav>
      <!--icon section-->
      <div class="iconArea" id="iconArea">
        <img src="../icons/donut.png" alt="1" />
        <img src="../icons/cake.png" alt="1" />
        <img src="../icons/bibimbap.png" alt="1" />
        <img src="../icons/fried-chicken.png" alt="1" />
        <img src="../icons/hotdog.png" alt="1" />
        <img src="../icons/noodles.png" alt="1" />
        <img src="../icons/spoon.png" alt="1" />
        <img src="../icons/salad.png" alt="1" />
        <img src="../icons/sushi.png" alt="1" />
        <img src="../icons/taco.png" alt="1" />
        <img src="../icons/hamburger.png" alt="1" />
      </div>
      <!--card section-->
      <div id="top"></div>
      <div id="listCardArea">
        <% if (locals.data) { %> <% for (let i = 0; i < data.length; i++) { %>
        <% let im = data[i].image %>
        <div
          class="listCard aos-animate"
          data-aos="flip-right"
          data-aos-duration="500"
          data-aos-anchor-placement="center-bottom"
        >
          <div class="imgArea">
            <img src="<%= data[i].image %>" class="resImg" />
          </div>
          <div class="listCardBody">
            <span> <%= data[i].title %> </span> <br />
            <hr />
            <% if (data[i].address.length < 16) { %>
            <span> <%= data[i].address %> </span> <br />
            <% } else { %>
            <span> <%= data[i].address.substring(0, 17) %> </span> <br />
            <span> <%= data[i].address.substring(17) %> </span> <br />
            <% } %>
            <hr />
            <span> <%= data[i].contact %> </span> <br />
            <hr />
            <span> <%= data[i].category %> </span> <br />
            <hr />
            <a href="<%= data[i].link %>"> 링크 </a> <br />
          </div>
        </div>
        <% } %> <% } %>
      </div>
      <a id="toTop">
        <img src="../icons/arrow-up.png" alt="top" title="to Up" id="arrowUp" />
      </a>
    </div>
    <!--my javascript link-->
    <script src="../javascript/floating.js"></script>
    <script src="../javascript/clickNav.js"></script>
    <!--card list javascript-->
    <script src="../javascript/listCard.js"></script>
  </body>
</html>
